<a href="{{ url_for('kerko.search') }}" class="navbar-brand">

  {%- if config.kerko.brand.url.length > 0 %}
  <img src="{{ url_for('static', filename=config.kerko.brand.url) }}" width="{{ config.kerko.brand.width }}" height="{{ config.kerko.brand.height }}" class="d-inline-block align-top" alt="">
  {%- endif %}
    {{ config.kerko.meta.title }}
</a>
